@model WallIT.Shared.DTOs.SubjectDTO

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
</div>

<div class="form-group">
    <label asp-for="SubjectType"></label>
    <input asp-for="SubjectType" />
</div>

<div class="form-group">
    <label asp-for="Balance"></label>
    <input asp-for="Balance" />
</div>

