@model WallIT.Shared.DTOs.RecordCategoryDTO
<form method="POST" action="/Record/SaveRecordCategory" class="form-style">
    <h1>Record Category</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParentCategoryId" class="control-label"></label>
        <input asp-for="ParentCategoryId" class="form-control" />
        <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubjectId" class="control-label"></label>
        <input asp-for="SubjectId" class="form-control" />
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>
</form>
